html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.article {
  width: 100%;
  max-width: 598px;
  margin: auto;
}

body {
  background: #94bda7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
}

.czerwony {
  color: red;
}

.display-box {
  background: #004;
  color: darkgoldenrod;
}

.footer {
  font-size: small;
  color: #a4698b;
  margin: 0 auto;
  display: inline-block;
}

.footer__content {
  
  margin:  auto;
  
  width: 100%;
  background: none !important;
}

.footer__top-link {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background: hotpink;
  border-radius: 5px;
  padding: 4px;

}

h1 #top {
  color: darkmagenta;
  padding: 16px;
}

h2 {
  color: darkorange;
}

.h2-headers {
  color: #00d768;
}

.h3-headers {
  color: #a4698b;
}

.header {
  position: sticky;
  top: 0px;

}

.header_navigation {
  color: rgb(110, 15, 110);
  background: none;
}

.navigation {
  background-color: #3d0fd3;
  padding: 16px;
  position: sticky;
  top: 0;
  margin: 0;

}

.navigation__link {
  color: beige;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: none;
  position: sticky;
  top: 0;
}

.inline-box {
  background: #004;
  color: darkgoldenrod;
  display: inline;
}

.inline-block-box {
  background: #004;
  color: darkgoldenrod;
  display: inline-block;
}

.main-photo {
  display: block;
  margin: 16px auto;
  border-radius: 10%;
  max-width: 100%;
  border: 20px solid midnightblue;
}

.main {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 16px;
}



.one-box {
  background: #004;
  color: darkgoldenrod;
  display: block;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

.page-header__heading{
 padding: 16px;
 background: lightgoldenrodyellow;
 margin: 16px auto;
 width: 768px;
 max-width: 100%;
}

.paragraph {
  width: 100%;
  max-width: 598px;
  margin: 16px auto;
}

.section {
  background: lightgoldenrodyellow;
  padding: 16px;
  margin: 16px;

}

.section__header {
  width: 100%;
  max-width: 598px;
  margin: auto;
}

.test-div {
  background: peru;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

#top {
  color: cadetblue;
}



.width-height-box {
  background: #004;
  color: darkgoldenrod;
  display: inline-block;
  width: 300px;
  height: 300px;
}