html {
  box-sizing: border-box;
}

*, *:before,*:after {
  box-sizing: inherit;
}

h1 #top {
  color: darkmagenta;
  padding: 16px;
}

h2 {
  color: darkorange;

}

section {
  background: lightgoldenrodyellow;
  padding: 16px;
}

footer {
  background: lightpink;
  padding: 16px;
}

body {
  background: #94bda7;
  padding: 16px;
}

.czerwony {
  color: red;
}

.h2-headers {
  color: #00d768;
}

.h3-headers {
  color: #a4698b;
}

#top {
  color: cadetblue;
}

a {
  color: brown;
  background: #00d768;
}

header a {
  color: rgb(110, 15, 110);
  background: none;
}

.main-photo {
  border-radius: 10%;
  padding: 16px;

}

.navigation{
  background-color: #3d0fd3;
  padding: 16px;
}

.navigation__link{
  color:beige;
  
  
}